body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro */
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #a55eea; /* Roxo claro */
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    font-weight: bold;
    color: #e0e0e0; /* Texto claro */
}

input[type="text"] {
    padding: 10px;
    width: 250px;
    border: 1px solid #a55eea; /* Roxo claro para o borda */
    border-radius: 4px;
    font-size: 16px;
    background-color: #2c2c2c; /* Fundo do input escuro */
    color: #e0e0e0; /* Texto claro */
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #a55eea; /* Roxo claro */
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8a4cb3; /* Roxo mais escuro ao passar o mouse */
}

.resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #2c2c2c; /* Fundo da seção de resultados */
    border: 1px solid #a55eea; /* Roxo claro para a borda */
    border-radius: 4px;
    text-align: center;
}

.erro {
    color: #ff4d4d; /* Vermelho claro para mensagens de erro */
    text-align: center;
    font-weight: bold;
}
